.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.iml
TestApplicazione/.gradle
TestApplicazione/local.properties
TestApplicazione/.idea/workspace.xml
TestApplicazione/.idea/libraries
TestApplicazione/.DS_Store
TestApplicazione/build
TestApplicazione/captures
TestApplicazione/.externalNativeBuild
TestApplicazione/*.iml